footer.footer(style="background:transparent;margin-top:100px;")
  .container
    .footer__copyright
      .row
        .col-lg-12.text-center
          p.footer__copyright__text
            | Made with #[i.la.la-heart-o(aria-hidden="true")] by #[a(href="https://bloemi.st" target="_blank" style="color:#fff;font-weight:bold;") Bloemist]
