.container.sticky-top
  .header.row.sticky-top.d-flex
    #navbar.col-5.align-items-center.justify-content-start.nav(data-active=activePage)
      //- Will fill automatically
    .col-2.align-items-center.justify-content-center.nav
      img(src="/images/0x20i.png" alt="logo hackerspace")
    .col-5.align-items-center.justify-content-end.nav
      a(href="https://pad.hackerspace.gent/") Pad
      a(href="https://docs.hackerspace.gent/") Wiki
      //- a(href="#") MQTT
      a(href="https://github.com/0x20/hackerspace-blueprint") Blueprint
