services:
  website:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: website-container
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.website.rule=Host(`hackerspace.gent`) || Host(`www.hackerspace.gent`)
      - traefik.http.routers.website.entrypoints=public
      - traefik.http.routers.website.tls=true
      - traefik.http.routers.website.tls.certresolver=letsencrypt
      - traefik.http.services.website.loadbalancer.server.port=3000
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
