doctype html
html(lang="en")
  include partials/head
  style.
    /* Enable horizontal scrolling */
    .scroller {
        display: flex;
        flex-wrap: nowrap; /* Keep the item in one row */
        overflow-x: auto;  /* Horizontal scrolling if necessary */
    }
  body
    .wrapper
      include partials/header
      .container
        //- How to add events
        .row.mb-3
          p
            | Want to add an event? Create a markdown file in the #[code /events/] folder and submit a PR. See the #[a(href="https://github.com/0x20/website-node/blob/main/events/README.md" target="_blank") events README] for the format and examples.

        //- Future events
        .row.mb-5
          h1 Upcoming Events
          #upcomingEvents.scroller(style="mask-image: linear-gradient(to right, black 90%, transparent 100%);")
            | Upcoming events. Title and description
        //- Past events
        .row.mb-5
          h1 Past Events
          #pastEvents.notframed
            | Past events with description and pictures

        //- Calendar info
        .row
          h1 Calendar Info
          span
            | Events are updated automatically. Latest update:
            |
            colored#calenderLastUpdated loading...
        div(style="height:200px;")
    script(type="module" src="/js/events.js")
