doctype html
html(lang="en")
  include partials/head
  style.
    /* Enable horizontal scrolling */
    .scroller {
        display: flex;
        flex-wrap: nowrap; /* Keep the item in one row */
        overflow-x: auto;  /* Horizontal scrolling if necessary */
    }
  body
    .wrapper
      include partials/header
      .container
        //- Future events
        .row.mb-5
          h1 Upcoming Events
          #upcomingEvents.scroller(style="mask-image: linear-gradient(to right, black 90%, transparent 100%);")
            | Upcoming events. Title and description
        //- Past events
        .row.mb-5
          h1 Past Events
          #pastEvents.notframed
            | Past events with description and pictures
        //- Info
        .row
          h1 Info
          p
            | The events on page are automatically pulled from the #[a(href="https://calendar.google.com/calendar/u/0?cid=aW5mb0BoYWNrZXJzcGFjZS5nZW50") google calender] every hour using github-actions.
          span
            | The latest automatic update happened at:
            |
            colored#calenderLastUpdated Timestamp of last update
        div(style="height:200px;")
    script(type="module" src="/js/events.js")
