doctype html
html(lang="en")
  include partials/head
  style.
    /* Enable horizontal scrolling */
    .scroller {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    /* Masonry layout */
    .masonry {
        column-count: 3;
        column-gap: 20px;
    }
    .masonry > div {
        break-inside: avoid;
        margin-bottom: 20px;
    }
    @media (max-width: 992px) {
        .masonry { column-count: 2; }
    }
    @media (max-width: 576px) {
        .masonry { column-count: 1; }
    }
  body
    .wrapper
      include partials/header
      .container
        //- How to add events
        .row.mb-3
          p
            | Want to add an event? Create a markdown file in the #[code /events/] folder and submit a PR. See the #[a(href="https://github.com/0x20/website-node/blob/main/events/README.md" target="_blank") events README] for the format and examples.

        //- Future events
        .row.mb-5
          h1 Upcoming Events
          #upcomingEvents.scroller(style="mask-image: linear-gradient(to right, black 90%, transparent 100%);")
            | Upcoming events. Title and description
        //- Past events
        .row.mb-5
          .col-12
            h1 Past Events
          #pastEvents.masonry
            | Past events with description and pictures

        div(style="height:200px;")
    script(type="module" src="/js/events.js")
